$primary-yellow : #FFE600;
$primary-dark-grey: #333333;
$primary-grey: #999999;
$primary-ligth-grey: #EEEEEE;
$primary-blue: #3483FA;

$grey: #999999;
$white: #FFF;
$extra-ligth-grey: #F7F7F7;
$dark-grey: #3F3F3F;
$medium-grey: #797979;

$small-space: 16px;
$big-space: 32px; 